doctype 5
html
  head
    title= "Vote!"
    link(rel='stylesheet', href='/css/vote.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    script(src='/lib/jquery-1.7.2.min.js')
    script(src='/lib/jquery.qrcode.min.js')
    script(src='/lib/angular.min.js')
  body
    block content