doctype 5
html
  head
    title= "Vote!"
    link(rel='stylesheet', href='/css/vote.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    script(src='/lib/raphael.js')
    script(src='/lib/jquery-1.7.2.min.js')
    script(src='/lib/jquery.qrcode.min.js')
    script(src='/lib/jquery.enumerable.js')
    script(src='/lib/jquery.tufte-graph.js')
    script(src='/lib/angular.min.js')
    script(src='/js/util.js')
    script(src='/js/graph.js')
    script(type='text/javascript')
      addEvent(window, 'load', init);

  body
    block content