extends layout

block content
  div(class="container", id="danke")
    h1 Für diese Frage kann derzeit keine Antwort entgegen genommen werden.

script(type='text/javascript')
     var init = function(){};
