extends layout

block content
  div#qrcode.qrcode(onClick="location='/result/#{id}'")
  
  script
      $('#qrcode').qrcode({width: 1024, height: 1024, text: "http://onlineresponse.org/question/" + "#{id}"});
  