extends layout

block content
  div(class="container")
    h1(id="result") Result
    div(id="question")
    span#qid(name='#{id}')
    div#graph.graph(style='width:300px; height: 200px')
  link(rel='stylesheet', href='/css/tufte-graph.css')
  link(rel='stylesheet', href='/css/graph.css')
  script(type='text/javascript', src='/lib/showdown.js')
  script(type='text/javascript', src='/js/graph.js')
