extends layout

block content
  div(class="container")
    h1 Result
    h4 #{question}
    span#qid(name='#{id}')
    div#graph.graph(style='width:300px; height: 200px')
  link(rel='stylesheet', href='/css/tufte-graph.css')
  script(type='text/javascript', src='/js/graph.js')
