#signinDiv {

}

.signin {
    position: absolute;
    left: 400px;
    top: 200px;
    width: 280px;
    height: 165px;
    border-radius: 5px;
    background-color: #a9302a;
    padding-left: 10px;
}

.input {
    border-radius: 3px;
    -webkit-user-select: text;
}

.alternative {

}

.loginBody {
    background: url("/img/classroom.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.VoteBody {
   margin-top: 10px;
   margin-left: 10px;
}

.mcquestiontext, .questiontext {
	width: 40em;
	font-size: 200%;
    line-height: 150%;
}

.codearea {
    width: 60em;
    font-family: Consolas,monospace;
}

.clozetext {
    width: 100px;
}

.insertedText {
    font-weight: bold;
}

.modal-body blockquote {
    font-family: Consolas,monospace;
    font-size: x-large;
}

#graph {
    width: 300px;
    height: 200px
}

#code {
    font-family: Consolas,monospace;
}

#imageFileToAttach {
    visibility: hidden;
}

/* Add some margin to improve decodability. */
.qrcode {
	width: 1024px;
	height: 1024px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.questionLink {
    padding-top: 10px;
    padding-left: 10px;
    font-size: xx-large;
}

#clozeResultTable {
    font-family: Consolas,monospace;
    line-height: 2em;
    border-style: solid;
    border-color: #1e90ff;
    empty-cells: show;
}

.resultcell {
    border: thin solid;
    border-color: #1e90ff;
}

#pointresult {
    position: relative;
}

.redpoint {
    position: absolute;
}

/**
 * Styling of howto page
*/
body.howto {
    font-family: Helvetica, Arial, sans-serif;
}

h2.howto {
    page-break-before:always;
    color: red;
}

img.howto {
    margin-left: 60px;
}

/*@media screen and (max-width: 700px) {
    #body {
        font-size: xx-large;
        margin-left: 2em;
        line-height: 150%;
    }
    .radio {
        font-size: xx-large;
    }
    #thequestion {
        font-size: 48px;
    }
} */