.alternative {

}

.questiontitle {
	width: 40em;
	font-size: 200%;
    line-height: 150%;
}

#imageFileToAttach {
    visibility: hidden;
}

/* Add some margin to improve decodability. */
.qrcode {
	width: 1024px;
	height: 1024px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 700px) {
    #body {
        font-size: xx-large;
        margin-left: 2em;
        line-height: 150%;
    }
    .radio {
        font-size: xx-large;
    }
    #thequestion {
        font-size: 48px;
    }
}