<!DOCTYPE html>
<html>
<head>
    <title>Overview of the Onlineresponse system</title>
    <link href="/css/vote.css" rel="stylesheet">
</head>
<body class="howto">
<h1>Short Overview of the Onlineresponse system</h1>
Note: Most examples are taken from "Der gro&szlig;e ZEIT Mathe-Test", Die Zeit 32/2013 S. 32.
<br>
These are screenshots from the running application.
<h2 class="howto">Single and Multiple Choice questions</h2>
<h3>Question as seen on student's device:</h3>
<br>
<img src="/img/scquestion.png" class="howto"></img>
<br>
<h3>Result as seen by teacher</h3>
<img src="/img/scresult.png" class="howto"></img>
<h2 class="howto">Heatmaps (Point-and-click questions)</h2>
<h3>Question as seen on student's device:</h3>
<br>
<img src="/img/pointquestion.png" class="howto"></img>
<br>
<h3>Result as seen by teacher</h3>
<img src="/img/pointresults.png" class="howto"></img>
<h2 class="howto">Cloze questions (freitext)</h2>
    <h3>Question as seen on student's device:</h3>
<br>
<img src="/img/clozequestion.png" class="howto"></img>
<br>
<h3>Result as seen by teacher</h3>
<img src="/img/clozeresults.png" class="howto"></img>
<br>
<h3>Single result in original context (by clicking on result)</h3>
<img src="/img/clozeresult-inserted.png" class="howto"></img>

</body>
</html>