<h1>All questions found:</h1>
<div id="listQuestions" ng-init="fetch()">
   <table cellpadding="5">
	   	<colgroup>
  	    <col width="*"/>
  	    <col width="3em"/>
  	    <col width="3em"/>
  	    <col width="3em"/>
	   </colgroup>
      <tr><th>Question</th><!--<th>Open Vote</th><th>Edit</th><th>Delete</th>--></tr>
      <tr ng-repeat="question in questions">
        <td id="row{{$index}}">{{shorten(question.question)}}</td>
        <!-- Show QR code -->
        <td><a href="/voteqr/{{getQuestionType(question)}}/{{question._id}}"><i class="icon-qrcode"></i></a></td>
        <!--  edit -->
        <td><a href="#/edit/{{question._id}}"><i class="icon-edit"></i></a></td>
        <!-- delete  -->
        <!-- see http://jsfiddle.net/tadchristiansen/gt92r/ for modal popups -->
        <td><a id="{{question._id}}"
            onclick="$('#deleteLink').attr('href', '/delete/' + this.id);$('#saveConfirmDialog').modal({keyboard: true})">
            <i class="icon-remove-sign"></i>
          </a></td>
      </tr>
   </table>

   <!-- the modal saveConfirmDialog -->
      <div id="saveConfirmDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Confirm Delete question?</h3>
      </div>
      <div class="modal-body">
      <p>...</p>
      </div>
      <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <a id="deleteLink" role="button" class="btn btn-primary">Confirm</a><!-- href is set by click on delete-->
      </div>
      </div>
</div>
