<h1>All questions found:</h1>
<div id="listQuestions">
   <table cellpadding="5">
	   	<colgroup>
        <col width="3em"/>
  	    <col width="*"/>
  	    <col width="3em"/>
  	    <col width="3em"/>
  	    <col width="3em"/>
	   </colgroup>
      <tr><th>Type</th><th>Question</th><!--<th>Open Vote</th><th>Edit</th><th>Delete</th>--></tr>
      <tr ng-repeat="question in questions">
        <td>{{question.type}}</td>
        <td id="row{{$index}}">{{shorten(question.question)}}</td>
        <!-- Show QR code -->
        <td class="qrCodeLink-{{getQuestionType(question)}}"><a href="#/voteqr/{{getQuestionType(question)}}/{{question._id}}"><i class="icon-qrcode icon-large"></i></a></td>
        <!--  edit -->
        <td><a href="#/edit/{{getQuestionType(question)}}/{{question._id}}"><i class="icon-edit icon-large"></i></a></td>
        <!-- delete  id must begin with a letter. So I add two a's at beginning and end -->
        <td><a id="a{{question._id}}a" ng-click="confirmDeleteQuestion(question._id)">
            <i class="icon-remove-sign icon-large"></i>
          </a></td>
      </tr>
   </table>

   <!-- the modal deleteConfirmDialog -->
      <div id="deleteConfirmDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Confirm Delete question?</h3>
      </div>
      <div class="modal-body">
      <p>{{getTitleOfSelectedQuestion()}}</p>
      </div>
      <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="finishDeleteQuestion(false)">Cancel</button>
      <a id="deleteLink" role="button"data-dismiss="modal"  class="btn btn-primary" ng-click="finishDeleteQuestion(true)">Confirm</a>
      </div>
      </div>
</div>
